<table style="width: 100%;">
  <tfoot>
    <tr>
      <td>author: <b>Claudio Carvalho Jr.</b></td>
    </tr>
    <tr>
      <td>e-mail: <a href="mailto:claudio.omar.jr@gmail.com">claudio.omar.jr@gmail.com</a></td>
    </tr>
    <tr>
      <td>github: <a href="https://github.com/claudiocarvalhojr"
          target="_blank">https://github.com/claudiocarvalhojr</a></td>
    </tr>
    <tr>
      <td>linkedin: <a href="https://www.linkedin.com/in/claudioomarjr/"
          target="_blank">https://www.linkedin.com/in/claudioomarjr/</a></td>
    </tr>
  </tfoot>
</table>