<div class="row col-xs-12">author: <b>Claudio Carvalho Jr.</b></div>
<div class="row col-xs-12">e-mail: <a href="mailto:claudio.omar.jr@gmail.com">claudio.omar.jr@gmail.com</a></div>
<div class="row col-xs-12">github: <a href="https://github.com/claudiocarvalhojr"
    target="_blank">https://github.com/claudiocarvalhojr</a></div>
<div class="row col-xs-12">linkedin: <a href="https://www.linkedin.com/in/claudioomarjr/"
    target="_blank">https://www.linkedin.com/in/claudioomarjr/</a></div>