<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ghogus - <%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

  <div class="container">

    <div class="row"><% include header.ejs %></div>

    <div class="row"><%- include(page) %></div>

    <div class="row"><% include footer.ejs %></div>

  </div>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- <script src="/js/scripts.js"></script> -->

</body>

</html>