<h4><%= title %></h4>
<p>Preencha os dados abaixo para salvar o cliente.</p>
<form action="/clientes/new" method="POST">
    <p><label>Nome: <input type="text" name="nome" /></label></p>
    <p><label>Idade: <input type="number" name="idade" /></label></p>
    <p>
        <label>UF:</label>
        <select name="uf">
            <option value="" selected disabled>Selecione o estado</option>
            <option value="RS">RS</option>
            <option value="SC">SC</option>
            <option value="PR">PR</option>
        </select>
    </p>
    <p>
        <div class="from-group">
            <input type="submit" value="Salvar" class="btn btn-md btn-primary" /> | 
            <a id="btnReturn" href="/clientes" class="btn btn-md btn-default">Voltar</a>
       </div>
    </p>
</form>